In [1]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

np.random.seed(42)

num_rows = 1500
user_ids = np.random.randint(1, 101, num_rows)  # 100 users

event_types = np.random.choice(
    ["message_sent", "login"],
    size=num_rows,
    p=[0.75, 0.25]
)

devices = np.random.choice(
    ["android", "ios"],
    size=num_rows,
    p=[0.7, 0.3]
)

cities = np.random.choice(
    ["Tehran", "Shiraz", "Mashhad", "Tabriz", "Isfahan"],
    size=num_rows
)

start_date = datetime(2024, 11, 1)

event_times = []
for _ in range(num_rows):
    random_days = random.randint(0, 14)
    random_seconds = random.randint(0, 86400)
    event_time = start_date + timedelta(days=random_days, seconds=random_seconds)
    event_times.append(event_time)

df = pd.DataFrame({
    "user_id": user_ids,
    "event_type": event_types,
    "event_time": event_times,
    "device": devices,
    "city": cities
})

df = df.sort_values("event_time").reset_index(drop=True)

df.to_csv("user_events_large.csv", index=False)

df.head()

   user_id    event_type          event_time   device     city
0       62  message_sent 2024-11-01 00:18:08  android  Isfahan
1       21  message_sent 2024-11-01 00:20:15  android   Shiraz
2       59  message_sent 2024-11-01 00:25:41  android   Shiraz
3       23  message_sent 2024-11-01 01:30:27  android   Tabriz
4       72  message_sent 2024-11-01 02:36:40      ios   Tehran